* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    width: 100%;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* Allow choices to wrap to the next line on small screens */
    gap: 3rem;
    margin-top: 2rem;
    /* Adjusted margin for smaller screens */
}

.score-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 2rem;
    /* Adjusted gap for smaller screens */
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 3rem;
    /* Adjusted margin for smaller screens */
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
    h1{
        font-size: 9vw;
    }
    .choices {
        gap: 1.5rem;
        /* Adjusted gap for smaller screens */
    }

    .score-board {
        gap: 1rem;
        /* Adjusted gap for smaller screens */
    }

    #msg {
        font-size: 5vw;
    }
}
@media (max-width:300px) {
    h1{
        font-size: 11vw;
    }
    .heading{
        height: 4vh;
    }
    
}